{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}

    <h1>Inscription</h1>

    {{ form_start(registrationForm, {
        'attr': {
            'novalidate': 'novalidate'
        }})
    }}

    <div>
        <label>Site :</label>
        <select name="site">
            {% for site in sites %}
                <option value="{{ site.name }}">{{ site.name }}</option>
            {% endfor %}
        </select>

    </div><br>
    {{ form_widget(registrationForm) }}
    <button class="btn btn-success">Envoyer !</button>
    {{ form_end(registrationForm) }}



<br>
    {% if app.user.roles[0] == "admin" %}
    <h4>Importer un fichier CSV : </h4>
    <form action="" method="post" enctype="multipart/form-data" name="form">
            <div class="row">

                <div class="">
                <input class = "form-control-lg" name="csv" type="file" id="csv" />
            </div>
            <div class="">
                <input class ="btn btn-lg btn-primary" type="submit" name="submit" value="valider" />
            </div>

            </div>

        </form>
    {% endif %}


{% endblock %}
