{% extends "base.html.twig" %}

{% block title %}Ajout excursion{% endblock %}

{% block content %}

    <h1>Modifier votre sortie</h1>

    <div class="container">

        {{ form_start(excursionForm, {
            'attr': {
                'novalidate': 'novalidate'
            }})
        }}

        {{ form_row(excursionForm.name) }}
        {{ form_row(excursionForm.startDate) }}
        {{ form_row(excursionForm.endDate) }}
        {{ form_row(excursionForm.registrationNumberMax) }}
        {{ form_row(excursionForm.duration) }}
        {{ form_row(excursionForm.description) }}


        <div class="form-row">
            <div class="row">
                <div class="col-sm">Ville :</div>
                <div class="col-sm">
                    <select name="ville">
                        {% for city in cities %}
                            <option value="{{ city.name }}">{{ city.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-sm">Lieu :</div>
            <div class="col-sm">
                <select name="Lieu">
                    <ul id="listeLieux"></ul>
                </select></div>
        </div>

        <div class="row">
            <div class="col-sm">Rue :</div>
            <div class="col-sm">
                <h5>{#{% if place != null %} {{ place.street }} {% endif %}#}</h5></div>
        </div>

        <div class="row">
            <div class="col-sm">Code Postal :</div>
            <div class="col-sm"><h5>{#{% if city != null %} {{ city.zip }} {% endif %}#}</h5></div>
        </div>

        {#{ form_row(placeForm.latitude) }}
        {{ form_row(placeForm.longitude) }#}

        {{ form_row(excursionForm.urlPicture) }}

        <div class="container">
            <div class="row">
                <div class="col-3">
                    <button class="btn btn-primary">Enregistrer</button>
                </div>

                {% if excursion.state.libelle == "En création" %}
                    <div class="col-3">
                        <a href="{{ path('excursion_publish', {"id": excursion.id}) }}" class="btn btn-primary">Publier la sortie</a>
                    </div>
                    <div class="col-3">
                        <a href="{{ path('excursion_delete', {"id": excursion.id}) }}" class="btn btn-primary">Supprimer la sortie</a>
                    </div>
                {% else %}
                    <div class="col-3">
                        <a href="{{ path('excursion_cancel', {"id": excursion.id}) }}" class="btn btn-primary">Annuler la sortie</a>
                    </div>
                {% endif %}
                <div class="col-3">
                    <a href="{{ path('index') }}" class="btn btn-primary">Annuler</a>
                </div>
            </div>
        </div>

        {{ form_end(excursionForm) }}

    </div>

{% endblock %}