{% extends 'base.html.twig' %}

{% block title %}Gestion_profil{% endblock %}

{% block content %}

    <h1>Mon profil</h1>

    <div class="row">

        <div class="col">
            <img class="photo" alt="Photo" src="{{ asset('img/Photo.png') }}">
        </div>
        <div class="col">
            {#Affiche le formulaire de la classe User#}
            <div>
            {{ form_start(userForm) }}
            {{ form_row(userForm.username) }}
            {{ form_row(userForm.firstName) }}
            {{ form_row(userForm.name) }}
            {{ form_row(userForm.phone) }}
            {{ form_row(userForm.mail) }}
            {{ form_row(userForm.password) }}


                <div class="row">
                    <form method="GET">
                        <div class="col"><label>Ville de rattachement</label></div>
                        <div class="col"><select name="ville">
                                {#
                                {% for site in sites %}
                                    <option value="{{ app.sites.id }}">{{ app.sites.nom_site }}</option>
                                {% endfor %}
                                #}
                            </select></div>
                    </form>
                </div>

                <div class="row">
                    <div class="col"><label for="inputMaPhoto" class="float-left">Ma photo</label></div>
                    <div class="col"><button class="btn btn-lg btn-primary float-left" type="submit">Télécharger vers le serveur</div>
                </div>

                <br>

                <div class="d-inline">
                    <button class="btn btn-lg btn-primary float-left" type="submit">Enregistrer</button>
                    <button class="btn btn-lg btn-primary float-left" type="submit">Annuler</button>
                </div>
            {{ form_end(userForm) }}
            </div>


        </div>
        <div class="col">

            {#Affiche le formulaire de la classe User#}
            <form method="post" action="{{ asset("/utilisateur/gestion_profil") }}" class="justify-content-center">

                <div class="row">
                    <div class="col"><label for="inputUsername" class="float-left">Pseudo : </label></div>
                    <div class="col"><input type="text" value="{{ app.user.username }}" name="username" id="inputUsername" class="form-control" required autofocus></div>
                </div>

                <div class="row">
                    <div class="col"><label for="inputFirstname" class="float-left">Prénom : </label></div>
                    <div class="col"><input type="text" value="{{ app.user.firstname }}" name="firstname" id="inputFirstname" class="form-control" required autofocus></div>
                </div>

                <div class="row">
                    <div class="col"><label for="inputName" class="float-left">Nom : </label></div>
                    <div class="col"><input type="text" value="{{ app.user.name }}" name="name" id="inputName" class="form-control" required autofocus></div>
                </div>

                <div class="row">
                    <div class="col"><label for="inputPhone" class="float-left">Téléphone : </label></div>
                    <div class="col"><input type="text" value="{{ app.user.phone }}" name="phone" id="inputPhone" class="form-control" required autofocus></div>
                </div>

                <div class="row">
                    <div class="col"><label for="inputMail" class="float-left">Email : </label></div>
                    <div class="col"><input type="text" value="{{ app.user.mail }}" name="mail" id="inputMail" class="form-control" required autofocus></div>
                </div>

                <div class="row">
                    <div class="col"><label for="inputPassword" class="float-left">Mot de passe : </label></div>
                    <div class="col"><input type="password" name="password" id="inputPassword"
                                            class="form-control" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"></div>
                </div>

                <div class="row">
                    <div class="col"><label for="inputConfirmation" class="float-left">Confirmation : </label></div>
                    <div class="col"><input type="password" name="passwordConfirmation" id="inputConfirmation"
                                            class="form-control" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"></div>
                </div>
                <div class="row">
                    <form method="GET">
                        <div class="col"><label>Ville de rattachement</label></div>
                        <div class="col"><select name="ville">
                                {#
                                {% for site in sites %}
                                    <option value="{{ app.sites.id }}">{{ app.sites.nom_site }}</option>
                                {% endfor %}
                                #}
                            </select></div>
                    </form>
                </div>

                <div class="row">
                    <div class="col"><label for="inputMaPhoto" class="float-left">Ma photo</label></div>
                    <div class="col"><button class="btn btn-lg btn-primary float-left" type="submit">Télécharger vers le serveur</div>
                </div>

                <br>

                <div class="d-inline">
                    <button class="btn btn-lg btn-primary float-left" type="submit">Enregistrer</button>
                    <button class="btn btn-lg btn-primary float-left" type="submit">Annuler</button>
                </div>

            </form>

        </div>
    </div>

{% endblock %}
